* {
  box-sizing: border-box;
}

.list-element {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 200px;
  border-radius: 20px;
  background-color: white;
}

.project-image {
  height: 250px;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.name {
  font-family: roboto;
  font-size: 20px;
  text-align: center;
  font-weight: solid;
}
